html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul,li, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: #1b1b1b

}

h3{
    max-width: 170px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    justify-content: center;
}

p{
    color:#868383;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.produtos{
    margin-top: 15px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.menu{
    width: 100%;
    height: 20px;
    border-bottom: #1b1b1b;
    border: 10px;
}
.menu-flex{
    display: flex;
    justify-content: space-between;
}

.menu-option{
    width: 400px;
    padding-top: 60px;
    display: flex;
    justify-content:center;
}

a{
    color: #FFFFFF;
}
a:hover{
    color:#0A99FE;
}
.inactive{
    color: #0A99FE;
}
.inactive:hover{
    color: #FFFFFF;
}
.menuactive{
    width: 150px;
    height: 40px;
    background-color:#0A99FE;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-right: 10px;
    padding: 8px;
    padding-left: 36px;    
}
.menuactive:hover{
    width: 150px;
    height: 40px;
    background-color: #0a98fe56;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-right: 10px;
    padding: 6px;
    padding-left: 34px;
    border:#0A99FE 2px solid;  
}

.menuinactive{
    width: 150px;
    height: 40px;
    background-color: #0a98fe56;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    padding: 6px;
    padding-left: 34px;
    border:#0A99FE 2px solid;
}
.menuinactive:hover{
    width: 150px;
    height: 40px;
    background-color:#0A99FE;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    padding: 8px;
    padding-left: 36px;
}
img{
    width: 150px;
    height: 150px;
}
ul{
    max-height: 350px;
    display: flex;
    justify-content: left;
    overflow: hidden;
    overflow-x:auto;
}

li{
    width: 207px;
    min-width: 207px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-radius: 8px;
    border:#FFFFFF 2px solid;
    margin-left: 15px;
    border:#80808036 2px solid;
}
li:hover{
    border:#808080 2px solid;
    border-radius: 8px;
}